<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdhckzpbVxOalGKvsHN-Q-HdkxMXknqH0</string>
	<key>GCM_SENDER_ID</key>
	<string>964100369378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.appcatalogo</string>
	<key>PROJECT_ID</key>
	<string>comanda-2023e</string>
	<key>STORAGE_BUCKET</key>
	<string>comanda-2023e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964100369378:ios:2ba9ed7569e091e53467bb</string>
</dict>
</plist>